/* .TodoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  } */

  * {
    outline: none;
  }
  
  
  .tb {
    display: table;
    width: 100%;
  }
  
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  
  input,
  .SearchButton {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
  
  #cover {
    width: 100%;
    padding: 15px;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.5);
  }

  
  .TodoSearch {
    width: 100%;
    height: 96px;
    font-size: 50px;
    line-height: 1;
    font-family: 'Montserrat';
  }
  
  .TodoSearch::placeholder {
    color: #e16868;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  #s-cover {
    width: 1px;
    padding-left: 35px;
  }
  
  .SearchButton {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
  }
  
  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }
  
  .SearchButton span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  
  .SearchButton span:before,
  .SearchButton span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
  }
  
  #s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  
  #s-cover:hover .SearchButton span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }
  
  #s-cover:hover .SearchButton span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover .SearchButton span:before,
  #s-cover:hover .SearchButton span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
  }